@font-face {
    font-family: Sacramento;
    src: url(fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(fonts/neucha_regular.otf);
}



body {
	margin: 0;
}

section {
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	height: 100vh;
}

#img {
	text-align: center;
	position: relative;
}

#img img {
	height: 400px;
	width: 400px;
	border-radius: 100%;
	cursor: pointer;
}

#img .text_block {
	position: absolute;
	width: 100%;
	height: 50px;
	background: white;
	bottom: 65px;
}

#img .text_block span {
	font-family: Neucha;
	font-size: 40px;
	line-height: 50px;
	color: #8bc34a;
}


#content {
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	flex-wrap: wrap;
	animation: fadeIn 3s;
}

#content .block {
	height: 250px;
	width: 250px;
	border-radius: 100%;
	text-align: center;
	opacity: 0.5;
	cursor: pointer;
}

#content .block:hover {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

#content .block span {
	line-height: 250px;
	font-family: Sacramento, Arial;
	font-size: 60px;
	color: red;
}

#content .block:first-child,
#content .block:last-child {
	transform: translateY(-150px);
}

/* change sweet alert default styles */

.sweet-alert h2 {
	font-family: Sacramento;
	font-size: 50px !important;
}
.sweet-alert .sa-icon.sa-custom {
	border-radius: 100% !important;
	height: 180px !important;
	width: 180px !important;
}

.sweet-alert p {
	font-family: Neucha;
	font-size: 25px !important;
}

.sweet-alert button {
	background-color: #8bc34a !important;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px);
		opacity: 0;
	}
	to {
		transform: translateY
		opacity: .5;
	}
}