@font-face {
    font-family: Sacramento;
    src: url(Sacramento/Sacramento-Regular.ttf);
  }



body {
	margin: 0;
}

section {
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	height: 100vh;
}

#img {
	text-align: center;
}

#img img {
	height: 400px;
	width: 400px;
	border-radius: 100%;
}

#content {
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	flex-wrap: wrap;
}

#content .block {
	height: 250px;
	width: 250px;
	border-radius: 100%;
	text-align: center;
}

#content .block span {
	line-height: 250px;
	font-family: Sacramento, Arial;
	font-size: 60px;
	color: red;
}

#content .block:first-child,
#content .block:last-child {
	transform: translateY(-150px);
}